/*********************************************************/
/***************** NAV BAR LANDSCAPE *********************/
/*********************************************************/

.nav-bar-a {
  display: grid;
  background-color: black;
  grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
  grid-template-rows: 60px 35px;
  grid-template-areas:
    'translate    text    text    search  search'
    'link-a  link-b  link-c  link-d  link-e';
} 

.nav-bar-b {
  display: none;
  background-color: black;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 56px;
  grid-template-areas:
    'text search';
}

.nav-item {
  background-color: black;
  border-style: none;
  color: white;
}

.nav-link {
  border-right-style: solid;
  border-color: white;
}

#text {
  grid-area: text;
}

#searchForm {
  grid-area: search;
}

#translate-box {
  grid-area: translate;
}

#hamburger {
  grid-area: hamburger;
}

#link-a {
  grid-area: link-a;
}

#link-b {
  grid-area: link-b;
}

#link-c {
  grid-area: link-c;
}

#link-d {
  grid-area: link-d;
}

#link-e {
  grid-area: link-e;
  border-style: none;
}

.nav-button {
  background-color: black;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.nav-button:hover {
  background-color: white;
  color: black;
}

.nav-bar-a #text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  padding: 8px 8px 8px 16px;
  text-align: center;
}

.nav-bar-a #searchForm {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  padding: 14px 16px;
  text-align: right;
  float: right;

  input[type=text] {
    border-style: none;
    width: 60%;
    border-radius: 12px 0px 0px 12px;
    padding: 2px 10px;
  }

  button {
    border-radius: 0px 12px 12px 0px;
    border-style: none;
    height: 27px;
    width: 27px;
    transition: all 0.5s;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 0px 0px 0px 0px;
    margin: -4px;
  }

  button:hover {
    background-color: #e3e3e3;
  }
}

#google_translate_element {
  background-color: red;
}

.nav-link ul {
  border-style: solid;
  transition: all .5s ease;
  height: 0;
  left: 0;
  opacity: 0;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.nav-link:hover ul {
  background-color: white;
  color: black;
  opacity: 1;
  transform: translateY(0);
  height: 100px;
  width: 100%;
}

.nav-bar-b .icon {
  color: white;
}

.nav-bar-b #drop-down-links {
  display: none;
}

.nav-bar-b a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.nav-bar-b a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-bar-b a:hover {
  background-color: #ddd;
  color: black;
}

/*********************************************************/
/******************** BODY LANDSCAPE *********************/
/*********************************************************/

.main-body-a {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas:
    'body-left body-right';
}

.main-body-b {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  grid-template-areas:
    'body-main';
}

.body-item {
  height: 700px;
  width: 100%;
}

#body-left {
  grid-area: body-left;
  background-color: #8fe0c0;
  color: black;
  height: 600px;
  /*display: grid;
  place-items: center; */
  img {
    object-fit: contain;
    height:30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 600;
  }
  h3 {
    font-family: "Montserrat", sans-serif;
    padding: 0px 60px;
    font-size: 20px;
    text-align: center;
  }
  .home-left-button{
    margin-left: auto;
    margin-right: auto;
    display:block;

background-color: green;
  }
}

#body-right {
  grid-area: body-right;
  img {
    position: absolute;
    z-index: -1;
    height: 600px;
    width: 50%;
    object-fit: cover;
    object-position: 70% 50%;
  }
  .home-right-button {
    position: absolute;
    top: 50%;
    left: 75%;
    width: 15%;
    display: block;
  }
  #student-button {
    transform: translate(-50%, 760%);
    -ms-transform: translate(-50%, 760%);
  }
  #parent-button {
    transform: translate(-50%, 640%);
    -ms-transform: translate(-50%, 640%);
  }
}

#body-main {
  grid-area: body-main;
  height:100%;
  width:100%;
}
/*********************************************************/
/***************** NAV BAR PORTRAIT **********************/
/*********************************************************/

@media (orientation: portrait) {
  body {
    margin: 0px;
  }

  .nav-bar-a {
    display: none;
  }

  .nav-bar-b {
    display: grid;
  }
  .nav-bar-b #text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    padding: 8px 8px 8px 16px;
    text-align: left;
    
  }

/*********************************************************/
/******************** BODY PORTRAIT **********************/
/*********************************************************/
  .main-body-a {
    display: none;
  }

  .main-body-b {
    height:100%;
    display: grid;
    img{
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 70% 100%;
    }
  }
  
} /*Media Query End*/