/*********************************************************/
/******************** BODY LANDSCAPE *********************/
/*********************************************************/

#parent-body-a {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-areas:
    'left-img   parent-title   right-img'
    'left-bar   parent-main    right-bar'
    'left-grad  blank          right-grad'
    'footer     footer         footer';
}  

#ft-gradient {
  display: none;
  grid-area: ft-grad;
}

.banner-image {
  width: 100%;
  position: absolute;
  object-fit: contain;
  grid-area: parent-banner;
}

#left-bar {
  width: 100%;
  object-fit: contain;
  grid-area:  left-bar;
  background-color: #32a0ad;
}
#left-img {
  grid-area: left-img;
  width: 100%;
}
#left-grad {
  grid-area: left-grad;
  width: 100%;
}

#right-bar {
  width: 100%;
  object-fit: contain;
  grid-area: right-bar;
  background-color: #32a0ad;
}
#right-img {
  width: 100%;
  grid-area: right-img;
}
#right-grad {
  grid-area: right-grad;
  width: 100%;
}

#parent-title {
  grid-area: parent-title;
  text-align: center;
  color: #32a0ad;
  font-size: 5vw;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}

#about-body-m {
  height:1000px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'about-title'
    'text-1'
    'text-2'
    'text-3'
    'footer';
  background-color: #32a0ad;
  color: white;
  grid-template-rows: 100px;
}
#about-title {
  grid-area: about-title;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 6vw;
}
.about-text {
  text-align: center;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 5vw;
}
#about-text-1 {
  grid-area: text-1;
  padding-top: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#about-text-2 {
  grid-area: text-2;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#about-text-3 {
  grid-area: text-3;
  padding-top: 0px;
  margin-top: 0px;
}

#parent-mob-title{
  display: none;
  grid-area: parent-mob-t;
}

#parent-main {
  grid-area: parent-main;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /**grid-template-rows: 1fr 3fr;**/
  grid-template-areas:
    'kamar schoolbridge facebook map calendar news'
    'parent-links parent-links parent-links events events events';
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.icon-image {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  padding: 6px;
  border-radius: 16px;
}

.icon-text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2vw;
  font-weight: 450;
  margin-top: 5px;
}

#parent-links {
  margin-left: 60px;
  margin-right: auto;
  grid-area: parent-links;
  padding-top: 15px;
  font-family: "Montserrat", sans-serif;
}
#parent-links h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  font-weight: 450;
}
#parent-links li {
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: 450;
}

#absences {
  display: none;
}

#frontOffice {
  display: none;
}

#slt {
  display: none;
}

#allStaff {
  display: none;
}

table, th, td {
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  padding: 4px;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  color: white;
  background-color: black;
}

.Caltime {
  width: 30%;
}
  
.Calevent{
  width: 70%;
  padding-left: 8px;
}

/*********************************************************/
/******************** BODY PORTRAIT **********************/
/*********************************************************/

@media (orientation: portrait) {

  #parent-body-a {
    grid-template-columns: 1fr;
    grid-template-areas:
      'parent-title'
      'parent-main'
      'ft-grad'
      'footer';
    background-color: #32a0ad;
    color: white;
  }  
  #ft-gradient {
    display: block;
    width: 100%;
  }
  #parent-title {
    font-size: 12vw;
    color: white;
  }
  
  #parent-main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'kamar schoolbridge facebook' 
    'map calendar news'
    'parent-links parent-links parent-links' 
    'events events event';
  }
  #parent-main img {
    width: 80%;
  }

  table, th, td {
    border: 1px solid white;
    width: 100%;
  }
  
  th {
    color: #32a0ad;
    background-color: white;
  }

  .icon-image {
    border: 2px solid black;
    background-color: white;
    width: 100%;
    padding: 5px;
  }
  .icon-text {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5vw;
    font-weight: 550;
  }

  #parent-links {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 30px;
  }
  #parent-links h3 {
    font-size: 9vw;
    font-weight: 450;
  }
  #parent-links li {
    font-size: 5vw;
    font-weight: 450;
  }
  #events {
    width: 145%;
  }

  #left-bar {
    display: none;
  }
  #left-img {
    display: none;
  }
  #left-grad {
    display: none;
  }
  #right-bar {
    display: none;
  }
  #right-img {
    display: none;
  }
  #right-grad {
    display: none;
  }
}